.teamTitle {
    font-size: 48px;
    font-weight: 600;
    color: #C4218D;
    text-align: center;
    padding-bottom: 3.5rem;
    padding-top: 8rem;
}

.team {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 8rem;
}

.Tbox {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 20rem;
}

.Tbox p {
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
}

.Tbox h3 {
    font-size: 20px;
    font-weight: 600;
}

.ex{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #D9D9D9;
}

@media only screen and (max-width:768px) {
    .teamTitle{
        font-size: 26px;
    }
    .team{
        grid-gap: 55px;
        flex-direction: column;
    }
    .Tbox{
        width: 30%;
    }
}