.teamTitle {
    font-size: 48px;
    font-weight: 600;
    color: #C4218D;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0px 5rem;
    grid-gap: 45px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;


}

.Tbox {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    align-items: center;
}

.Tbox p {
    font-size: 16px;
    font-weight: 500;
}

.Tbox h3 {
    font-size: 20px;
    font-weight: 600;
}