.Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;
    margin-top: 6rem;
    background: url('/assets/starsBg.png') center center/cover no-repeat;
}

.HContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 76%;
}

.HContent h1 {
    font-size: 64px;
    font-weight: 600;
}

.Bword1 {
    background: linear-gradient(273.88deg, #5A5A5A 0%, #FFFFFF 50%, #8F8F8F 97.5%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-family: "poppins", sans-serif;
}

.Bword2 {
    background: linear-gradient(271.09deg, #350ABD 14.39%, #7003B3 31.42%, #AA1899 59.81%, #C4218D 83.58%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.HContent p {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 400;
}

.learnButton {
    margin-top: 4rem;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 1.2rem 3rem;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(to left, #C4218D, #D9D9D914);
    box-shadow: -10px 15px 57px 12px #7003B3;
    z-index: 1;
}

.learnButton::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1.5px;
    bottom: 1px;
    left: 2px;
    background: linear-gradient(255.62deg, #030114 -4.68%, #2B1676 48.42%, #030114 94.62%);
    border-radius: 30px;
    z-index: -1;
}

.learnButton::after {
    content: attr(data);
    color: #fff;
}

.learnButton:hover {
    transform: scale(1.1);
}

.emptyContainer {
    height: 10rem;
    background: url('/assets/starsBg.png');
    background-size: cover;
}

.vision {
    width: 100%;
    height: 100lvh;
    background: url('/assets/visionBG.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.Vcontent {
    width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.visionWord {
    background: linear-gradient(266.35deg, rgba(102, 102, 102, 0.9) -12.17%, #FFFFFF 10.43%, #FFFFFF 48.89%, #FFFFFF 84.31%, rgba(102, 102, 102, 0.9) 109.95%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.Vcontent h1 {
    font-size: 64px;
    font-weight: 600;
}

.Vcontent p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
    font-weight: 400 !important;
}

.TCBG {
    background: url('/assets/teamBG.svg');
    z-index: 2;
    background-repeat: no-repeat;
    background-position: right 0rem top -30rem;
    background-size: 100%;
}

@media only screen and (max-width: 768px) {
    .Home {
        height: auto;
        padding: 4rem 0rem 4rem 0rem;
    }

    .HContent h1 {
        font-size: 26px;
    }

    .HContent p {
        font-size: 9px;
    }

    .learnButton {
        margin-top: 1.5rem;
        width: 88.71px;
        height: 29.29px;
        font-size: 10px;
        padding: 0;
    }

    .emptyContainer {
        display: none;
    }

    .vision {
        height: 60vh;
    }

    .Vcontent {
        width: 60%;
    }

    .Vcontent h1 {
        font-size: 26px;
    }

    .Vcontent p {
        font-size: 10px;
    }

    .TCBG{
        background-position: right  top;
    }
}