/* Navbar.module.css */

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    color: #fff;
    width: 100%;
    background-color: transparent;
}

.logoContainer{
    margin-left: 3%;
}

.buttonContainer {
    display: flex;
    gap: 0px;
}

.dropdown {
    overflow: hidden;
}

.dropdown button , .dropdown2 button{
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    /* border: 2px solid #A1A1AA; */
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.dropdown button{
    padding: 1rem 3rem;
}
.dropdown2 button{
    padding: 1rem 2rem;
}

.dropdown:hover .NavBImg{
    transform: rotate(180deg);
}
.dropdown2:hover .NavBImg{
    transform: rotate(180deg);
}

.dropdownContent {
    display: none;
    position: absolute;
    /* border: 2px solid #A1A1AA; */
}

.dropdownContent2{
    /* border: 2px solid #A1A1AA; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    position: absolute;
}

.drpItem, .drpItem2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.drpItem2{
    width: 8rem;
}

.drpItemImg{
    visibility: hidden;
}

.drpItemContent{
    width: 50%;
}
.drpTitle{
    font-size: 14px;
}
.drpDesc {
    font-size: 0.5rem;
}

.dropdown:hover .dropdownContent {
    display: block;
}
.dropdown2:hover .dropdownContent2{
    display: block;
}

.drpItem:hover .drpItemImg , .drpItem2:hover .drpItemImg{
    visibility: visible;
}
.drpItem:hover , .drpItem2:hover{
    background: linear-gradient(94.46deg, #C4218D 1.09%, #000042 100%);
}

.normalButtonContainer{
    margin-right: 3%;
    border-radius: 15px;
}

.normalButton {
    border: 1px solid;
    border-image: linear-gradient(263.04deg, #C4218D 0%, rgba(217, 217, 217, 0.08) 105.45%);
    border-image-slice: 1;
    border-image-width: 2px;
    cursor: pointer;
    background-color: transparent;
    padding: 14px;
    font-size: 16px;
    border-radius: 15px;

}

.normalButton span {
    color: #fff;
}